@page "/OneTimeBets"

<h1>One Time Bets coming soon!</h1>



@functions {

double betLocation = 0;
double betAmount = 0;
double oddsBetAmount = 0;
double mainBetTotal = 0.00;
double oddsBetTotal = 0.00;


void CalcMainReturn()
{
    if (betLocation == 4)
    {
        mainBetTotal = 4;
    }
    else if (betLocation == 5)
    {
        mainBetTotal = 5;
    }
    else if (betLocation == 6)
    {
        mainBetTotal = 6;
    }
    else if (betLocation == 8)
    {
        mainBetTotal = 8;
    }
    else if (betLocation == 9)
    {
        mainBetTotal = 9;
    }
    else if (betLocation == 10)
    {
        mainBetTotal = 10;
    }
    else
    {
        mainBetTotal = -3;
    }
}
}